<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-rich-text.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-rich-text-v2.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-rich-text-v2.css' | asset_url | stylesheet_tag }}</noscript>

{%- if section.settings.margin_top != 0 -%}
  {%- assign margin_top = "margin-top:" | append: section.settings.margin_top | append: "px;" -%}
{%- endif -%}

{%- if section.settings.margin_bottom != 0 -%}
  {%- assign margin_bottom = "margin-bottom:" | append: section.settings.margin_bottom | append: "px;" -%}
{%- endif -%}

<div {% if margin_top or margin_bottom %} style="{{margin_top}} {{margin_bottom}}" {% endif %} class="rich-text rich-text-v2{% if section.settings.full_width %} rich-text--full-width{% endif %} color-{{ section.settings.color_scheme }}">
  <div class="rich-text__blocks">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'heading' -%}
          <h2 class="{% if block.settings.heading_size == 'small' %}h2{% else %}h1{% endif %}">{{ block.settings.heading | escape }}</h2>
        {%- when 'text' -%}
    
          {%- if block.settings.max_width == 0 -%}
    		{%- assign width = "auto" -%}
          {%- else -%}
            {%- assign width = block.settings.max_width | append: 'px' -%}
          {%- endif -%}
          
          <div class="rich-text__text rte" style="max-width: {{width}};">{{ block.settings.text }}</div>
        {%- when 'button' -%}
          <a{% if block.settings.button_link == blank %} aria-disabled="true"{% else %} href="{{ block.settings.button_link }}"{% endif %} class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}">{{ block.settings.button_label | escape }}</a>
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.rich-text-v2.name",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.rich-text.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.rich-text.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.rich-text.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.rich-text.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.rich-text.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.rich-text.settings.color_scheme.label"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.rich-text.settings.full_width.label"
    },
    {
      "type": "range",
      "default": 0,
      "id": "margin_top",
      "label": "Отступ сверху",
      "min": 0,
      "max": 500,
      "step": 5
    },
    {
      "type": "range",
      "default": 0,
      "id": "margin_bottom",
      "label": "Отступ снизу",
      "min": 0,
      "max": 500,
      "step": 5
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.rich-text.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Talk about your brand",
          "label": "t:sections.rich-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.rich-text.blocks.heading.settings.heading_size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.rich-text.blocks.heading.settings.heading_size.options__2.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.rich-text.blocks.heading.settings.heading_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.rich-text.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
          "label": "t:sections.rich-text.blocks.text.settings.text.label"
        },
        {
          "type": "range",
          "label": "Максимальная ширина блока",
          "id": "max_width",
          "min": 0,
          "max": 800,
          "default": 520,
          "step": 10
		}
      ]
    },
    {
      "type": "button",
      "name": "t:sections.rich-text.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.rich-text.blocks.button.settings.button_label.label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.rich-text.blocks.button.settings.button_link.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "t:sections.rich-text.blocks.button.settings.button_style_secondary.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.rich-text-v2.presets.name"
    }
  ]
}
{% endschema %}
