{{ 'stub.css' | asset_url | stylesheet_tag }}
<div class="stub-1">
<div class="stub-wrapper">
    <div class="stub-video-wrapper">
        <video class="hg-video" muted="" loop="" playsinline="" autoplay="">
            <source src="https://cdn.shopify.com/videos/c/o/v/dd9b7825fc6c4ba591332a5a3ba58b0d.mp4" type="video/mp4">
        </video>
    </div>
    <div class="stub-content">
        <div class="stub-logo">
            {% if  section.settings.logo_link != blank %}
            <a href="{{ section.settings.logo_link }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="246" height="32" viewBox="0 0 246 32" fill="none">
                    <rect width="246" height="32" rx="3.91615" fill="#CCF951"/>
                    <path d="M27.3262 25.6044H33.7517V15.2668H34.3371L41.1389 25.6044H48.5401V6.47653H42.1146V16.8141H41.5292L34.8807 6.47653H27.3262V25.6044Z" fill="black"/>
                    <path d="M50.2127 25.6044H68.2209V20.549H56.7916V18.1213H67.7888V13.9729H56.7916V11.5319H68.2209V6.47653H50.2127V25.6044Z" fill="black"/>
                    <path d="M73.4059 25.6044H82.3124L84.1105 16.4139H84.6819L86.4939 25.6044H95.3865L99.2613 6.47653H92.5849L90.4384 18.8683H89.867L87.0236 6.47653H81.7828L78.9255 18.8683H78.354L76.2214 6.47653H69.5311L73.4059 25.6044Z" fill="black"/>
                    <path d="M118.036 15.747V15.3868C118.9 14.9333 119.541 14.4398 119.974 13.8796C120.392 13.3193 120.615 12.5323 120.615 11.4919C120.615 10.825 120.489 10.2114 120.252 9.65117C120.015 9.09094 119.625 8.55738 119.081 8.06385C118.524 7.58365 117.729 7.19683 116.698 6.90337C115.653 6.62326 114.412 6.47653 112.977 6.47653H100.585V25.6044H112.614C115.569 25.6044 117.729 25.1242 119.095 24.1371C120.447 23.1634 121.13 21.8295 121.13 20.1221C121.13 19.055 120.879 18.1613 120.392 17.4544C119.89 16.7474 119.109 16.1738 118.036 15.747ZM112.21 11.3052C112.949 11.3052 113.478 11.4519 113.813 11.7454C114.133 12.0388 114.301 12.3723 114.301 12.7458C114.301 13.0792 114.133 13.3994 113.799 13.6928C113.464 13.9863 112.935 14.133 112.21 14.133H107.164V11.3052H112.21ZM112.363 20.7757H107.164V17.6544H112.363C113.102 17.6544 113.632 17.8145 113.966 18.1213C114.301 18.4281 114.468 18.7882 114.468 19.1884C114.468 19.5886 114.301 19.9487 113.966 20.2822C113.632 20.6157 113.102 20.7757 112.363 20.7757Z" fill="black"/>
                    <path d="M133.257 26.2446C136.685 26.2446 139.431 25.3109 141.494 23.4435C143.557 21.576 144.588 19.1084 144.588 16.0404C144.588 12.9725 143.557 10.5182 141.494 8.65076C139.431 6.78332 136.685 5.84961 133.257 5.84961C129.828 5.84961 127.096 6.78332 125.033 8.65076C122.97 10.5182 121.939 12.9725 121.939 16.0404C121.939 19.1084 122.97 21.576 125.033 23.4435C127.096 25.3109 129.828 26.2446 133.257 26.2446ZM133.257 20.8024C131.891 20.8024 130.762 20.3889 129.842 19.5352C128.922 18.6815 128.476 17.5211 128.476 16.0538C128.476 14.5865 128.922 13.426 129.842 12.5724C130.762 11.7187 131.891 11.2918 133.257 11.2918C134.623 11.2918 135.752 11.7187 136.671 12.5724C137.591 13.426 138.051 14.5865 138.051 16.0538C138.051 17.5211 137.591 18.6815 136.671 19.5352C135.752 20.3889 134.623 20.8024 133.257 20.8024Z" fill="black"/>
                    <path d="M166.68 25.6044L163.112 19.3218C165.036 18.0146 166.011 16.1738 166.011 13.7862C166.011 8.91753 163.126 6.47653 157.356 6.47653H145.913V25.6044H152.491V20.669H157.495L160.199 25.6044H166.68ZM152.491 11.7187H156.896C157.718 11.7187 158.345 11.9054 158.777 12.2656C159.196 12.6391 159.419 13.1593 159.419 13.8395C159.419 14.5198 159.196 15.04 158.777 15.4002C158.345 15.7737 157.718 15.9471 156.896 15.9471H152.491V11.7187Z" fill="black"/>
                    <path d="M167.991 25.6044H174.416V15.2668H175.002L181.803 25.6044H189.205V6.47653H182.779V16.8141H182.194L175.545 6.47653H167.991V25.6044Z" fill="black"/>
                    <path d="M221.803 6.47653H214.263L205.816 13.1059H205.008L207.266 6.47653H200.701L193.832 25.6044H200.757L202.318 20.9625L205.872 18.2947H206.415L210.904 25.6044H217.469L211.057 15.1601L221.803 6.47653Z" fill="black"/>
                </svg>
            </a>
            {% else %}
                <svg xmlns="http://www.w3.org/2000/svg" width="246" height="32" viewBox="0 0 246 32" fill="none">
                    <rect width="246" height="32" rx="3.91615" fill="#CCF951"/>
                    <path d="M27.3262 25.6044H33.7517V15.2668H34.3371L41.1389 25.6044H48.5401V6.47653H42.1146V16.8141H41.5292L34.8807 6.47653H27.3262V25.6044Z" fill="black"/>
                    <path d="M50.2127 25.6044H68.2209V20.549H56.7916V18.1213H67.7888V13.9729H56.7916V11.5319H68.2209V6.47653H50.2127V25.6044Z" fill="black"/>
                    <path d="M73.4059 25.6044H82.3124L84.1105 16.4139H84.6819L86.4939 25.6044H95.3865L99.2613 6.47653H92.5849L90.4384 18.8683H89.867L87.0236 6.47653H81.7828L78.9255 18.8683H78.354L76.2214 6.47653H69.5311L73.4059 25.6044Z" fill="black"/>
                    <path d="M118.036 15.747V15.3868C118.9 14.9333 119.541 14.4398 119.974 13.8796C120.392 13.3193 120.615 12.5323 120.615 11.4919C120.615 10.825 120.489 10.2114 120.252 9.65117C120.015 9.09094 119.625 8.55738 119.081 8.06385C118.524 7.58365 117.729 7.19683 116.698 6.90337C115.653 6.62326 114.412 6.47653 112.977 6.47653H100.585V25.6044H112.614C115.569 25.6044 117.729 25.1242 119.095 24.1371C120.447 23.1634 121.13 21.8295 121.13 20.1221C121.13 19.055 120.879 18.1613 120.392 17.4544C119.89 16.7474 119.109 16.1738 118.036 15.747ZM112.21 11.3052C112.949 11.3052 113.478 11.4519 113.813 11.7454C114.133 12.0388 114.301 12.3723 114.301 12.7458C114.301 13.0792 114.133 13.3994 113.799 13.6928C113.464 13.9863 112.935 14.133 112.21 14.133H107.164V11.3052H112.21ZM112.363 20.7757H107.164V17.6544H112.363C113.102 17.6544 113.632 17.8145 113.966 18.1213C114.301 18.4281 114.468 18.7882 114.468 19.1884C114.468 19.5886 114.301 19.9487 113.966 20.2822C113.632 20.6157 113.102 20.7757 112.363 20.7757Z" fill="black"/>
                    <path d="M133.257 26.2446C136.685 26.2446 139.431 25.3109 141.494 23.4435C143.557 21.576 144.588 19.1084 144.588 16.0404C144.588 12.9725 143.557 10.5182 141.494 8.65076C139.431 6.78332 136.685 5.84961 133.257 5.84961C129.828 5.84961 127.096 6.78332 125.033 8.65076C122.97 10.5182 121.939 12.9725 121.939 16.0404C121.939 19.1084 122.97 21.576 125.033 23.4435C127.096 25.3109 129.828 26.2446 133.257 26.2446ZM133.257 20.8024C131.891 20.8024 130.762 20.3889 129.842 19.5352C128.922 18.6815 128.476 17.5211 128.476 16.0538C128.476 14.5865 128.922 13.426 129.842 12.5724C130.762 11.7187 131.891 11.2918 133.257 11.2918C134.623 11.2918 135.752 11.7187 136.671 12.5724C137.591 13.426 138.051 14.5865 138.051 16.0538C138.051 17.5211 137.591 18.6815 136.671 19.5352C135.752 20.3889 134.623 20.8024 133.257 20.8024Z" fill="black"/>
                    <path d="M166.68 25.6044L163.112 19.3218C165.036 18.0146 166.011 16.1738 166.011 13.7862C166.011 8.91753 163.126 6.47653 157.356 6.47653H145.913V25.6044H152.491V20.669H157.495L160.199 25.6044H166.68ZM152.491 11.7187H156.896C157.718 11.7187 158.345 11.9054 158.777 12.2656C159.196 12.6391 159.419 13.1593 159.419 13.8395C159.419 14.5198 159.196 15.04 158.777 15.4002C158.345 15.7737 157.718 15.9471 156.896 15.9471H152.491V11.7187Z" fill="black"/>
                    <path d="M167.991 25.6044H174.416V15.2668H175.002L181.803 25.6044H189.205V6.47653H182.779V16.8141H182.194L175.545 6.47653H167.991V25.6044Z" fill="black"/>
                    <path d="M221.803 6.47653H214.263L205.816 13.1059H205.008L207.266 6.47653H200.701L193.832 25.6044H200.757L202.318 20.9625L205.872 18.2947H206.415L210.904 25.6044H217.469L211.057 15.1601L221.803 6.47653Z" fill="black"/>
                </svg>
            {% endif %}
        </div>

        <div class="klaviyo-form-wrap">
            <div class="klaviyo-form-Y8ykii form-wrapper"></div>
            <div class="inst-block">
                <a class="inst-link" href="{{ section.settings.instagram_link }}">Instagram NEWBORN k Warszawa</a>
                <p class="notice">Jeśli chcesz zrezygnować z otrzymywania powiadomień o dacie otwarcia concept store'u NEWBORN K, prosimy o poinformowanie nas drogą mailową na adres info@NEWBORNK.COM</p>
            </div>
        </div>
    </div>
</div>
<div class="links-block">
    <div class="links-buttons-wrap">
        {% if  section.settings.instagram_link != blank %}
            <a href="{{ section.settings.instagram_link }}">INSTRAGRAM</a>
        {% endif %}
        {% if  section.settings.facebook_link != blank %}
            <a href="{{ section.settings.facebook_link }}">facebook</a>
        {% endif %}
        {% if  section.settings.telegram_link  != blank %}
            <a href="{{ section.settings.telegram_link }}">TELEGRAM</a>
        {% endif %}

    </div>
</div>
</div>
<script>
    function checkAndAddClass() {
       const elements = document.querySelectorAll('.kl-private-reset-css-Xuajs1');
       elements.forEach(element => {
           const textContent = element.textContent;

           if (textContent.includes("przy ulicy Mokotowskiej 49.")) {
                setTimeout(() => {
                    element.classList.add('r-padd');
                }, 1000);
            }
        });
    }
    window.onload = function() {
        setTimeout(checkAndAddClass, 2000);
    };

</script>
{% schema %}
{
  "name": "stub section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "btn-text",
      "label": "Button text",
      "default": "Button text"
    },
    {
      "type": "url",
      "id": "logo_link",
      "label": "Logo link"
    },
    {
      "type": "url",
      "id": "instagram_link",
      "label": "instagram link"
    },
    {
      "type": "url",
      "id": "facebook_link",
      "label": "facebook link"
    },
    {
      "type": "url",
      "id": "telegram_link",
      "label": "telegram link"
    }

  ],
  "blocks": [
  ],
  "presets": [
    {
      "name":"stub section"
    }
  ]
}
{% endschema %}
